.is_hidden {
    visibility : hidden;
    max-height : 0;
}

.hidden_column {
    display:none;
    visibility:hidden;
}

.margin_auto {
    margin-left: auto;
    margin-right : auto;
}


html *
{
   font-size: 2vh;
   color: rgba(var(--font-color-buttons));
   font-family: "Amarante" !important;
}

body {
    margin:0;
    padding:0;

    background-image: url("https://raw.githubusercontent.com/NoahBolohan/wyrmspan-utilities/refs/heads/main/static/box_art/base_game.png");

    min-height: 99svh;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
}

.automa-won-button {
    white-space: normal;
}

table td {
    position: relative;
}

td, tr, th {
    opacity: 0.95;
    border : 1px solid rgba(var(--font-color-buttons));
}

.score_sheet_cell_no_padding {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
  
table td input {
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    box-sizing: border-box;
}

table {
    table-layout: fixed;
    width: 100%;
}

.input-vertical {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.nav-button {
    font-size: 2vh;
}

.round-end-goal-button {
    font-size: 15pt;
    aspect-ratio : 1 / 1;
}

.h1 {
    font-size: 2.67vh;
    color: rgba(var(--font-color-headers));
}

.h2 {
    font-size: 2vh;
    color: rgba(var(--font-color-headers));
}

.how-to-card * {
    font-size:1.67vh;
}

.hr1 {
    border-color:rgba(var(--font-color-buttons));
    margin-top : 1vh;
    margin-bottom : 1vh;
    height:2px;
}

.hr2 {
    border-color:rgba(var(--font-color-buttons));
    margin-top : 0.5vh;
    margin-bottom : 0.5vh;
    height:1px;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: none;
}

input::-webkit-input-placeholder {
    position: relative;
    right: 15px;
}

body {
    margin:0;
    padding:0;

    min-height: 99svh;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(255,255,255,0.0);
    background-blend-mode: lighten;
}

textarea {
    background: transparent;
    border: 0 none;
    outline: none;
    line-height: 25px;
  }

.checkbox-menu li label {
    display: block;
    padding: 0px 10px;
    clear: both;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.checkbox-menu li input {
    position: top;
    vertical-align: middle;
}

.disabled-text {
    color : #EBEBE4
}

.enabled-text {
    color : #000
}

button:disabled,
button[disabled]{
  border: 0px;
  opacity: 0.1;
}

.rowspan-vertical {
    writing-mode: sideways-lr;
    text-align: center;
}

html, body {margin: 0; height: 100%; overflow: hidden;}

.astext {
    margin:0;
    padding:0;
    cursor: pointer;
    background-color: rgba(var(--heading-color));
}

.astext:hover {
    background-color: rgba(var(--button-submit-color));

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 38px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(var(--cell-disabled-color));
-webkit-transition: .4s;
transition: .4s;
outline: 1px solid rgba(var(--font-color-buttons));
}

.slider:before {
position: absolute;
content: "";
height: 30px;
width: 30px;
left: 4px;
bottom: 4px;
background-color: rgba(var(--button-submit-color));
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
    background-color: rgba(var(--button-submit-color));
}

input:focus + .slider {
box-shadow: 0 0 1px rgba(var(--button-submit-color));
}

input:checked + .slider:before {
-webkit-transform: translateX(22px);
-moz-transform: translateX(22px);
-ms-transform: translateX(22px);
-o-transform: translateX(22px);
transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
outline: 2px solid rgba(var(--font-color-buttons));
}

.header-background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background:url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-black-long.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.header-background-for-index-menu {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    height:30vh;
    background:url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-black-long.png");
    background-size: 150% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    vertical-align: middle;
}

/* Modals */
.modal-content {
    border:rgba(var(--font-color-buttons)) 1px solid;
    background-color: rgba(var(--card-background-color));
}

.modal-title {
    color: rgba(var(--font-color-buttons));
}

.modal-header {
    background-color: rgba(var(--card-header-color));
    border-bottom-color: rgba(var(--font-color-headers));
}

.settings-label {
    color: rgba(var(--font-color-buttons));
}

/* Cards */
.card {
    border:rgba(var(--font-color-buttons)) 1px solid;
}

.card-header {
    background-color: rgba(var(--card-header-color));
    border-bottom-color: rgba(var(--font-color-headers));
}

.card-body {
    background-color: rgba(var(--card-background-color));
    color: rgba(var(--font-color-buttons));
}

/* Buttons */
.btn {
    color: rgba(var(--font-color-buttons))!important;
    outline: 1px solid rgba(var(--font-color-headers));
}

.btn:hover {
    outline: 1px solid rgba(var(--font-color-headers));
}


.btn:focus {
    outline: 1px solid rgba(var(--font-color-headers));
}

.btn-score-sheet-automa {
    background-color:rgba(var(--button-score-sheet-automa-color));
}

.btn-score-sheet-automa:hover {
    background-color:rgba(var(--button-score-sheet-automa-color),0.5);
}

.btn-score-sheet-automa:active {
    background-color:rgba(var(--button-score-sheet-automa-color))!important;
}

.btn-score-sheet-automa:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
    background-color:rgba(var(--button-score-sheet-automa-color));
}

.btn-score-sheet {
    background-color:rgba(var(--button-score-sheet-color));
}

.btn-score-sheet:hover {
    background-color:rgba(var(--button-score-sheet-color),0.5);
}

.btn-score-sheet:active {
    background-color:rgba(var(--button-score-sheet-color))!important;
}

.btn-score-sheet:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
    background-color:rgba(var(--button-score-sheet-color));
}

.btn-settings {
    background-color:rgba(var(--button-settings-color));
}

.btn-settings:hover {
    background-color:rgba(var(--button-settings-color),0.5);
}

.btn-settings:active {
    background-color:rgba(var(--button-settings-color))!important;
}

.btn-settings:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
    background-color:rgba(var(--button-settings-color));
}


.btn-close-settings {
    background-color:rgba(var(--card-background-color));
}

.btn-close-settings:hover {
    background-color:rgba(var(--card-background-color),0.5);
}

.btn-close-settings:active {
    background-color:rgba(var(--card-background-color))!important;
}

.btn-close-settings:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
    background-color:rgba(var(--card-background-color));
}

.btn-reset {
    background-color:rgba(var(--button-reset-color));
}

.btn-reset:hover {
    background-color:rgba(var(--button-reset-color),0.5);
}

.btn-reset:active {
    background-color:rgba(var(--button-reset-color))!important;
}

.btn-reset:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
    background-color:rgba(var(--button-reset-color));
}

.btn-submit {
    background-color:rgba(var(--button-submit-color));
}

.btn-submit:hover {
    background-color:rgba(var(--button-submit-color),0.5);
}

.btn-submit:active {
    background-color:rgba(var(--button-submit-color))!important;
}

.btn-submit:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
    background-color:rgba(var(--button-submit-color));
}

.btn-submit:disabled {
    background-color:rgba(var(--button-submit-color));
    opacity: 0.7;
}

.btn-return {
    background-color:rgba(var(--button-return-color));
}

.btn-return:hover {
    background-color:rgba(var(--button-return-color),0.5);
}

.btn-return:active {
    background-color:rgba(var(--button-return-color))!important;
}

.btn-return:focus {
    outline: 1px solid rgba(var(--font-color-headers))!important;
    background-color:rgba(var(--button-return-color));
}

/*Cells*/
.cell-vertical {
    padding: 0!important;
    background-color:rgba(var(--cell-vertical-color))!important;
    color:rgba(var(--font-color-headers))!important;
    text-align: center;
}

.cell-info {
    background-color:rgba(var(--cell-info-color))!important;
    color:rgba(var(--font-color-buttons))!important;
    vertical-align: middle;
}

.cell-input {
    background-color:rgba(var(--cell-input-color))!important;
    vertical-align: middle;
}

.cell-disabled {
    background-color:rgba(var(--cell-disabled-color))!important;
    vertical-align: middle;
}

.cell-total {
    background-color:rgba(var(--cell-total-color))!important;
    color:rgba(var(--font-color-headers))!important;
    vertical-align: middle;
}

.cell-automa-action {
    background-color:rgba(var(--cell-automa-action))!important;
    color:rgba(var(--font-color-headers))!important;
    vertical-align: middle;
}