.is_hidden {
    visibility : hidden;
    max-height : 0;
}

.hidden_column {
    display:none;
    visibility:hidden;
}

.margin_auto {
    margin-left: auto;
    margin-right : auto;
}

@font-face {
    font-family: "CardenioModern";
    src: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/master/static/cardenio_modern_font/CardenioModern-Regular.otf") format("opentype");

}

.fonttest {
    font-family: "CardenioModern";
}

html *
{
   font-size: 15pt;
   color: #000;
   font-family: "CardenioModern" !important;
}

body {
    margin:0;
    padding:0;

    background-image: url("https://raw.githubusercontent.com/NoahBolohan/wyrmspan-utilities/refs/heads/main/static/box_art/base_game.png");

    min-height: 99svh;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
}

.automa-won-button {
    white-space: normal;
}

table td {
    position: relative;
  }
  
  table td input {
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
  }

table {
    table-layout: fixed;
    width: 100%;
}

.input-vertical {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
  }

.nav-button {
    font-size: 18pt;
}

.round-end-goal-button {
    font-size: 15pt;
    aspect-ratio : 1 / 1;
}

h1 {
    font-size: 25pt;
}

h2 {
    font-size: 20pt;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: none;
}

input::-webkit-input-placeholder {
    position: relative;
    right: 15px;
}

body {
    margin:0;
    padding:0;

    min-height: 99svh;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(255,255,255,0.0);
    background-blend-mode: lighten;
}

textarea {
    background: transparent;
    border: 0 none;
    outline: none;
    line-height: 25px;
  }

.checkbox-menu li label {
    display: block;
    padding: 0px 10px;
    clear: both;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.checkbox-menu li input {
    position: top;
    vertical-align: middle;
}

.disabled-text {
    color : #EBEBE4
}

.enabled-text {
    color : #000
}

button:disabled,
button[disabled]{
  border: 0px;
  opacity: 0.1;
}

.rowspan-vertical {
    writing-mode: sideways-lr;
    text-align: center;
}

html, body {margin: 0; height: 100%; overflow: hidden;}

.astext {
    margin:0;
    padding:0;
    cursor: pointer;
    background-color: rgba(var(--heading-color));
}

.astext:hover {
    background-color: rgba(var(--button-submit-color));

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 38px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(var(--cell-disabled-color));
-webkit-transition: .4s;
transition: .4s;
outline: 1px solid rgba(var(--font-color-buttons));
}

.slider:before {
position: absolute;
content: "";
height: 30px;
width: 30px;
left: 4px;
bottom: 4px;
background-color: rgba(var(--button-submit-color));
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
    background-color: rgba(var(--button-submit-color));
}

input:focus + .slider {
box-shadow: 0 0 1px rgba(var(--button-submit-color));
}

input:checked + .slider:before {
-webkit-transform: translateX(22px);
-moz-transform: translateX(22px);
-ms-transform: translateX(22px);
-o-transform: translateX(22px);
transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
outline: 2px solid rgba(var(--font-color-buttons));
}

.header-background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background:url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-black-long.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.header-background-for-index-menu {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    height:30vh;
    background:url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/paint_strokes/brush-black-long.png");
    background-size: 150% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    vertical-align: middle;
}