.is_hidden {
    visibility : hidden;
    max-height : 0;
}

.hidden_column {
    display:none;
    visibility:hidden;
}

.margin_auto {
    margin-left: auto;
    margin-right : auto;
}

@font-face {
    font-family: "CardenioModern";
    src: url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/master/static/cardenio_modern_font/CardenioModern-Regular.otf") format("opentype");

}

.fonttest {
    font-family: "CardenioModern";
}

html *
{
   font-size: 15pt;
   color: #000;
   font-family: "CardenioModern" !important;
}

body {
    margin:0;
    padding:0;

    background-image: url("https://raw.githubusercontent.com/NoahBolohan/wyrmspan-utilities/refs/heads/main/static/box_art/base_game.png");

    min-height: 99svh;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
}

.automa-won-button {
    white-space: normal;
}

table td {
    position: relative;
  }
  
  table td input {
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
  }

table {
    table-layout: fixed;
    width: 100%;
}

.input-vertical {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
  }

.nectar-scoring-button-disabled {
    font-size: 15pt;
    color: #000;
    opacity : 0.3;
}

.nectar-scoring-button-enabled {
    font-size: 15pt;
    color: #000;
    opacity : 1;
}

.nav-button {
    font-size: 18pt;
}

.round-end-goal-button {
    font-size: 15pt;
    aspect-ratio : 1 / 1;
}

h1 {
    font-size: 25pt;
}

h2 {
    font-size: 20pt;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: none;
}

input::-webkit-input-placeholder {
    position: relative;
    right: 15px;
}

#row_base_game {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(177,210,199,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/base_game.png");
    background-position: left;
    background-size: 130% auto;
}

#row_european_expansion {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(122,105,168, 1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/european_expansion.png");
    background-position: left;
    background-size: 130% auto;
}

#row_oceania_expansion {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(241,177,82,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/oceania_expansion.png");
    background-position: left;
    background-size: 130% auto;
}

#row_asia {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(225,129,134,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/asia.png");
    background-position: left;
    background-size: 130% auto;
}

#row_automubon_society {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(177,210,199,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/base_game.png");
    background-position: left;
    background-size: 130% auto;
}

#row_RAOUtoma {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(241,177,82,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/oceania_expansion.png");
    background-position: left;
    background-size: 130% auto;
}

#row_automasian_alliance {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(225,129,134,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/asia.png");
    background-position: left;
    background-size: 130% auto;
}

#row_duet_mode {
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(225,129,134,1) 70%), url("https://raw.githubusercontent.com/NoahBolohan/wingspan-utilities/refs/heads/main/static/box_art/asia.png");
    background-position: left;
    background-size: 130% auto;
}

body {
    margin:0;
    padding:0;

    min-height: 99svh;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(255,255,255,0.0);
    background-blend-mode: lighten;
}

textarea {
    background: transparent;
    border: 0 none;
    outline: none;
    line-height: 25px;
  }

.checkbox-menu li label {
    display: block;
    padding: 0px 10px;
    clear: both;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.checkbox-menu li input {
    position: top;
    vertical-align: middle;
}

.disabled-text {
    color : #EBEBE4
}

.enabled-text {
    color : #000
}

button:disabled,
button[disabled]{
  border: 0px;
  opacity: 0.1;
}

.rowspan-vertical {
    writing-mode: sideways-lr;
    text-align: center;
}