/*
Theme template:

[data-theme="theme_name"] {
    --font-color-headers:;
    --font-color-buttons:;
    --heading-color:;

    --card-header-color:;
    --card-background-color:;

    --button-start-color:;
    --button-score-sheet-automa-color:;
    --button-score-sheet-color:;
    --button-settings-color:;
    --button-dropdown-menu-color:;
    --button-reset-color:;
    --button-submit-color:;
    --button-return-color:;
    --button-automa-action-color:;
    --button-round-end-goal-color:;

    --cell-vertical-color:;
    --cell-info-color:;
    --cell-input-color:;
    --cell-disabled-color:;
    --cell-total-color:;
}

*/

:root {
    --a:236,169,165;
    --a:101,188,181;
    --a:250,210,67;
    --a:193,122,53;
    --a:113,118,182;
    --a:254,254,254;
    --a:0,1,0;

    --font-color-headers:0,1,0;
    --font-color-buttons:0,1,0;
    --heading-color:113,118,182;

    --card-header-color:113,118,182;
    --card-background-color:193,122,53;

    --button-start-color:250,210,67;
    --button-score-sheet-automa-color:101,188,181;
    --button-score-sheet-color:236,169,165;
    --button-settings-color:193,122,53;

    --button-dropdown-menu-color:101,188,181;
    --button-reset-color:101,188,181;
    --button-submit-color:250,210,67;
    --button-return-color:193,122,53;
    --button-automa-action-color:113,118,182;
    --button-player-won-color:250,210,67;
    --button-we-tied-color:101,188,181;
    --button-automa-score-color:236,169,165;

    --round-end-plus-color:101,188,181;
    
    --button-round-end-goal-color:236,169,165;

    --cell-vertical-color:236,169,165;
    --cell-info-color:250,210,67;
    --cell-input-color:101,188,181;
    --cell-disabled-color:113,118,182;
    --cell-total-color:236,169,165;
    --cell-automa-action:254,254,254;
}

[data-theme="default"] {
    --a:236,169,165;
    --a:101,188,181;
    --a:250,210,67;
    --a:193,122,53;
    --a:113,118,182;
    --a:254,254,254;
    --a:0,1,0;

    --font-color-headers:0,1,0;
    --font-color-buttons:0,1,0;
    --heading-color:113,118,182;

    --card-header-color:113,118,182;
    --card-background-color:193,122,53;

    --button-start-color:250,210,67;
    --button-score-sheet-automa-color:101,188,181;
    --button-score-sheet-color:236,169,165;
    --button-settings-color:193,122,53;
    --button-dropdown-menu-color:101,188,181;
    --button-reset-color:101,188,181;
    --button-submit-color:250,210,67;
    --button-return-color:193,122,53;
    --button-automa-action-color:113,118,182;
    --button-round-end-goal-color:236,169,165;
    --button-player-won-color:250,210,67;
    --button-we-tied-color:101,188,181;
    --button-automa-score-color:236,169,165;

    --round-end-plus-color:101,188,181;

    --cell-vertical-color:236,169,165;
    --cell-info-color:250,210,67;
    --cell-input-color:101,188,181;
    --cell-disabled-color:113,118,182;
    --cell-total-color:236,169,165;
    --cell-automa-action:254,254,254;
}

[data-theme="bee_eater"] {
    --a:0,52,110;
    --a:0,124,191;
    --a:6,171,223;
    --a:237,208,62;
    --a:245,162,0;
    --a:109,134,0;
    --a:66,77,12;

    --font-color-headers:0,52,110;
    --font-color-buttons:0,52,110;
    --heading-color:6,171,223;

    --card-header-color:109,134,0;
    --card-background-color:6,171,223;

    --button-start-color:0,124,191;
    --button-score-sheet-automa-color:237,208,62;
    --button-score-sheet-color:245,162,0;
    --button-settings-color:109,134,0;
    --button-dropdown-menu-color:245,162,0;
    --button-reset-color:245,162,0;
    --button-submit-color:237,208,62;
    --button-return-color:109,134,0;
    --button-automa-action-color:245,162,0;
    --button-round-end-goal-color:237,208,62;
    --button-player-won-color:237,208,62;
    --button-we-tied-color:245,162,0;
    --button-automa-score-color:109,134,0;

    --round-end-plus-color:109,134,0;

    --cell-vertical-color:6,171,223;
    --cell-info-color:237,208,62;
    --cell-input-color:245,162,0;
    --cell-disabled-color:66,77,12;
    --cell-total-color:6,171,223;
    --cell-automa-action:254,254,254;
}

[data-theme="blue_winged_kookaburra"] {
    --a:181,239,251;
    --a:11,117,149;
    --a:2,64,124;
    --a:6,33,58;
    --a:196,88,41;
    --a:156,70,32;
    --a:98,44,20;
    --a:212,216,227;
    --a:184,188,216;
    --a:173,141,159;
    --a:114,95,119;
    
    --font-color-headers:6,33,58;
    --font-color-buttons:6,33,58;
    --heading-color:181,239,251;

    --card-header-color:156,70,32;
    --card-background-color:181,239,251;

    --button-start-color:11,117,149;
    --button-score-sheet-automa-color:173,141,159;
    --button-score-sheet-color:184,188,216;
    --button-settings-color:156,70,32;
    --button-dropdown-menu-color:184,188,216;
    --button-reset-color:184,188,216;
    --button-submit-color:173,141,159;
    --button-return-color:156,70,32;
    --button-automa-action-color:114,95,119;
    --button-round-end-goal-color:114,95,119;
    --button-player-won-color:196,88,41;
    --button-we-tied-color:11,117,149;
    --button-automa-score-color:173,141,159;

    --round-end-plus-color:212,216,227;

    --cell-vertical-color:181,239,251;
    --cell-info-color:11,117,149;
    --cell-input-color:196,88,41;
    --cell-disabled-color:2,64,124;
    --cell-total-color:181,239,251;
    --cell-automa-action:254,254,254;
}

[data-theme="eastern_rosella"] {
    --a:205,49,34;
    --a:244,198,35;
    --a:190,225,131;
    --a:108,144,94;
    --a:47,83,60;
    --a:184,201,220;
    --a:47,122,185;
    
    --font-color-headers:0,1,0;
    --font-color-buttons:0,1,0;
    --heading-color:184,201,220;

    --card-header-color:47,122,185;
    --card-background-color:184,201,220;

    --button-start-color:205,49,34;
    --button-score-sheet-automa-color:244,198,35;
    --button-score-sheet-color:190,225,131;
    --button-settings-color:47,122,185;
    --button-dropdown-menu-color:190,225,131;
    --button-reset-color:205,49,34;
    --button-submit-color:244,198,35;
    --button-return-color:47,122,185;
    --button-automa-action-color:108,144,94;
    --button-round-end-goal-color:244,198,35;
    --button-player-won-color:244,198,35;
    --button-we-tied-color:108,144,94;
    --button-automa-score-color:205,49,34;

    --round-end-plus-color:205,49,34;

    --cell-vertical-color:108,144,94;
    --cell-info-color:244,198,35;
    --cell-input-color:184,201,220;
    --cell-disabled-color:205,49,34;
    --cell-total-color:108,144,94;
    --cell-automa-action:254,254,254;
}

[data-theme="eastern_yellow_robin"] {
    --a:225,158,0;
    --a:251,235,91;
    --a:133,119,58;
    --a:151,158,185;
    --a:114,123,152;
    --a:69,75,86;
    --a:32,27,30;

    --font-color-headers:32,27,30;
    --font-color-buttons:32,27,30;
    --heading-color:151,158,185;

    --card-header-color:133,119,58;
    --card-background-color:151,158,185;

    --button-start-color:151,158,185;
    --button-score-sheet-automa-color:251,235,91;
    --button-score-sheet-color:225,158,0;
    --button-settings-color:133,119,58;
    --button-dropdown-menu-color:151,158,185;
    --button-reset-color:251,235,91;
    --button-submit-color:225,158,0;
    --button-return-color:133,119,58;
    --button-automa-action-color:114,123,152;
    --button-round-end-goal-color:251,235,91;
    --button-player-won-color:251,235,91;
    --button-we-tied-color:114,123,152;
    --button-automa-score-color:225,158,0;

    --round-end-plus-color:114,123,152;

    --cell-vertical-color:151,158,185;
    --cell-info-color:251,235,91;
    --cell-input-color:225,158,0;
    --cell-disabled-color:69,75,86;
    --cell-total-color:151,158,185;
    --cell-automa-action:254,254,254;
}

[data-theme="galah"] {
    --a:255,210,207;
    --a:233,167,187;
    --a:208,84,120;
    --a:170,185,204;
    --a:131,144,162;
    --a:76,87,102;
    
    --font-color-headers:76,87,102;
    --font-color-buttons:76,87,102;
    --heading-color:170,185,204;

    --card-header-color:233,167,187;
    --card-background-color:170,185,204;

    --button-start-color:255,210,207;
    --button-score-sheet-automa-color:233,167,187;
    --button-score-sheet-color:208,84,120;
    --button-settings-color:131,144,162;
    --button-dropdown-menu-color:170,185,204;
    --button-reset-color:233,167,187;
    --button-submit-color:255,210,207;
    --button-return-color:131,144,162;
    --button-automa-action-color:208,84,120;
    --button-round-end-goal-color:208,84,120;
    --button-player-won-color:131,144,162;
    --button-we-tied-color:255,210,207;
    --button-automa-score-color:233,167,187;

    --round-end-plus-color:131,144,162;

    --cell-vertical-color:170,185,204;
    --cell-info-color:233,167,187;
    --cell-input-color:208,84,120;
    --cell-disabled-color:76,87,102;
    --cell-total-color:170,185,204;
    --cell-automa-action:254,254,254;
}

[data-theme="olive_backed_oriole"] {
    --a:138,50,35;
    --a:187,86,69;
    --a:217,120,120;
    --a:226,171,160;
    --a:208,207,233;
    --a:162,158,184;
    --a:108,107,117;
    --a:184,165,63;
    --a:147,134,42;
    --a:77,64,25;

    --font-color-headers:0,1,0;
    --font-color-buttons:0,1,0;
    --heading-color:208,207,233;

    --card-header-color:147,134,42;
    --card-background-color:208,207,233;

    --button-start-color:187,86,69;
    --button-score-sheet-automa-color:108,107,117;
    --button-score-sheet-color:184,165,63;
    --button-settings-color:147,134,42;
    --button-dropdown-menu-color:208,207,233;
    --button-reset-color:162,158,184;
    --button-submit-color:226,171,160;
    --button-return-color:147,134,42;
    --button-automa-action-color:184,165,63;
    --button-round-end-goal-color:184,165,63;
    --button-player-won-color:162,158,184;
    --button-we-tied-color:226,171,160;
    --button-automa-score-color:187,86,69;

    --round-end-plus-color:217,120,120;

    --cell-vertical-color:184,165,63;
    --cell-info-color:108,107,117;
    --cell-input-color:147,134,42;
    --cell-disabled-color:138,50,35;
    --cell-total-color:184,165,63;
    --cell-automa-action:254,254,254;
}

[data-theme="plains_wanderer"] {
    --a:237,216,197;
    --a:208,154,94;
    --a:231,170,1;
    --a:172,87,15;
    --a:115,72,27;
    --a:68,44,14;
    --a:13,4,3;

    --font-color-headers:13,4,3;
    --font-color-buttons:68,44,14;
    --heading-color:172,87,15;

    --card-header-color:172,87,15;
    --card-background-color:237,216,197;

    --button-start-color:208,154,94;
    --button-score-sheet-automa-color:231,170,1;
    --button-score-sheet-color:172,87,15;
    --button-settings-color:237,216,197;
    --button-dropdown-menu-color:208,154,94;
    --button-reset-color:208,154,94;
    --button-submit-color:231,170,1;
    --button-return-color:237,216,197;
    --button-automa-action-color:208,154,94;
    --button-round-end-goal-color:231,170,1;
    --button-player-won-color:231,170,1;
    --button-we-tied-color:208,154,94;
    --button-automa-score-color:172,87,15;

    --round-end-plus-color:115,72,27;

    --cell-vertical-color:172,87,15;
    --cell-info-color:231,170,1;
    --cell-input-color:208,154,94;
    --cell-disabled-color:68,44,14;
    --cell-total-color:172,87,15;
    --cell-automa-action:254,254,254;
}

[data-theme="princess_parrot"] {
    --a:112,144,201;
    --a:140,179,222;
    --a:175,190,159;
    --a:97,96,32;
    --a:110,178,69;
    --a:33,73,23;
    --a:207,34,54;
    --a:214,131,173;

    --font-color-headers:33,73,23;
    --font-color-buttons:33,73,23;
    --heading-color:140,179,222;

    --card-header-color:175,190,159;
    --card-background-color:140,179,222;

    --button-start-color:112,144,201;
    --button-score-sheet-automa-color:214,131,173;
    --button-score-sheet-color:110,178,69;
    --button-settings-color:175,190,159;
    --button-dropdown-menu-color:140,179,222;
    --button-reset-color:112,144,201;
    --button-submit-color:214,131,173;
    --button-return-color:175,190,159;
    --button-automa-action-color:207,34,54;
    --button-round-end-goal-color:110,178,69;
    --button-player-won-color:112,144,201;
    --button-we-tied-color:110,178,69;
    --button-automa-score-color:214,131,173;

    --round-end-plus-color:214,131,173;

    --cell-vertical-color:140,179,222;
    --cell-info-color:110,178,69;
    --cell-input-color:214,131,173;
    --cell-disabled-color:207,34,54;
    --cell-total-color:140,179,222;
    --cell-automa-action:254,254,254;
}

[data-theme="rose_crowned_fruit_dove"] {
    --a:189,51,143;
    --a:235,130,82;
    --a:245,220,131;
    --a:205,212,220;
    --a:128,152,162;
    --a:143,163,63;
    --a:95,121,41;
    --a:1,72,32;
    
    --font-color-headers:1,72,32;
    --font-color-buttons:1,72,32;
    --heading-color:205,212,220;

    --card-header-color:235,130,82;
    --card-background-color:143,163,63;

    --button-start-color:143,163,63;
    --button-score-sheet-automa-color:189,51,143;
    --button-score-sheet-color:235,130,82;
    --button-settings-color:128,152,162;
    --button-dropdown-menu-color:205,212,220;
    --button-reset-color:235,130,82;
    --button-submit-color:245,220,131;
    --button-return-color:128,152,162;
    --button-automa-action-color:189,51,143;
    --button-round-end-goal-color:189,51,143;
    --button-player-won-color:235,130,82;
    --button-we-tied-color:205,212,220;
    --button-automa-score-color:245,220,131;

    --round-end-plus-color:245,220,131;

    --cell-vertical-color:143,163,63;
    --cell-info-color:235,130,82;
    --cell-input-color:189,51,143;
    --cell-disabled-color:95,121,41;
    --cell-total-color:143,163,63;
    --cell-automa-action:254,254,254;
}

[data-theme="southern_cassowary"] {
    --a:189,161,77;
    --a:62,188,182;
    --a:1,105,196;
    --a:21,52,96;
    --a:213,17,78;
    --a:165,110,182;
    --a:75,28,87;
    --a:9,9,12;
    
    --font-color-headers:189,161,77;
    --font-color-buttons:189,161,77;
    --heading-color:9,9,12;

    --card-header-color:1,105,196;
    --card-background-color:9,9,12;

    --button-start-color:21,52,96;
    --button-score-sheet-automa-color:1,105,196;
    --button-score-sheet-color:213,17,78;
    --button-settings-color:75,28,87;
    --button-dropdown-menu-color:9,9,12;
    --button-reset-color:9,9,12;
    --button-submit-color:165,110,182;
    --button-return-color:75,28,87;
    --button-automa-action-color:213,17,78;
    --button-round-end-goal-color:213,17,78;
    --button-player-won-color:1,105,196;
    --button-we-tied-color:21,52,96;
    --button-automa-score-color:165,110,182;

    --round-end-plus-color:9,9,12;

    --cell-vertical-color:1,105,196;
    --cell-info-color:9,9,12;
    --cell-input-color:62,188,182;
    --cell-disabled-color:213,17,78;
    --cell-total-color:1,105,196;
    --cell-automa-action:76,87,102;
}

[data-theme="spotted_pardalote"] {
    --a:254,202,0;
    --a:211,99,40;
    --a:203,3,0;
    --a:180,185,179;
    --a:66,72,71;
    --a:0,1,0;

    --font-color-headers:0,1,0;
    --font-color-buttons:180,185,179;
    --heading-color:254,202,0;

    --card-header-color:211,99,40;
    --card-background-color:66,72,71;

    --button-start-color:211,99,40;
    --button-score-sheet-automa-color:0,1,0;
    --button-score-sheet-color:203,3,0;
    --button-settings-color:66,72,71;
    --button-dropdown-menu-color:0,1,0;
    --button-reset-color:0,1,0;
    --button-submit-color:211,99,40;
    --button-return-color:66,72,71;
    --button-automa-action-color:211,99,40;
    --button-round-end-goal-color:203,3,0;
    --button-player-won-color:211,99,40;
    --button-we-tied-color:203,3,0;
    --button-automa-score-color:66,72,71;

    --round-end-plus-color:180,185,179;

    --cell-vertical-color:254,202,0;
    --cell-info-color:66,72,71;
    --cell-input-color:203,3,0;
    --cell-disabled-color:0,1,0;
    --cell-total-color:254,202,0;
    --cell-automa-action:254,254,254;
}

[data-theme="superb_fairy_wren"] {
    --a:79,51,33;
    --a:170,120,83;
    --a:217,196,167;
    --a:176,63,5;
    --a:2,5,3;
    
    --font-color-headers:2,5,3;
    --font-color-buttons:2,5,3;
    --heading-color:217,196,167;

    --card-header-color:176,63,5;
    --card-background-color:217,196,167;

    --button-start-color:79,51,33;
    --button-score-sheet-automa-color:170,120,83;
    --button-score-sheet-color:217,196,167;
    --button-settings-color:176,63,5;
    --button-dropdown-menu-color:170,120,83;
    --button-reset-color:217,196,167;
    --button-submit-color:170,120,83;
    --button-return-color:176,63,5;
    --button-automa-action-color:217,196,167;
    --button-round-end-goal-color:79,51,33;
    --button-player-won-color:79,51,33;
    --button-we-tied-color:170,120,83;
    --button-automa-score-color:176,63,5;

    --round-end-plus-color:176,63,5;

    --cell-vertical-color:217,196,167;
    --cell-info-color:170,120,83;
    --cell-input-color:176,63,5;
    --cell-disabled-color:2,5,3;
    --cell-total-color:217,196,167;
    --cell-automa-action:254,254,254;
}

[data-theme="white_browned_tit_warbler"] {
    --a:129,117,206;
    --a:122,170,240;
    --a:226,163,226;
    --a:218,181,157;
    --a:212,90,108;
    --a:238,226,231;
    --a:26,16,23;

    --font-color-headers:26,16,23;
    --font-color-buttons:26,16,23;
    --heading-color:212,90,108;

    --card-header-color:212,90,108;
    --card-background-color:218,181,157;

    --button-start-color:226,163,226;
    --button-score-sheet-automa-color:122,170,240;
    --button-score-sheet-color:129,117,206;
    --button-settings-color:218,181,157;
    --button-dropdown-menu-color:122,170,240;
    --button-reset-color:122,170,240;
    --button-submit-color:226,163,226;
    --button-return-color:218,181,157;
    --button-automa-action-color:212,90,108;
    --button-round-end-goal-color:129,117,206;
    --button-player-won-color:226,163,226;
    --button-we-tied-color:122,170,240;
    --button-automa-score-color:129,117,206;

    --round-end-plus-color:122,170,240;

    --cell-vertical-color:129,117,206;
    --cell-info-color:226,163,226;
    --cell-input-color:122,170,240;
    --cell-disabled-color:212,90,108;
    --cell-total-color:129,117,206;
    --cell-automa-action:238,226,231;
}